
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
    <title>Liste menu </title>
     <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/show.css') }}"/> 
</head>

<body>
 <div style="padding: 120px 50px 0 10px;position:relative; top:-20px;left:-20px; "> 
     {% if  menu|length > 0  %} 
<table class="bordered" >
<thead>

    <tr>
       <th>#</th>              
       <th>Title</th>
       <th>Position</th>
        <th>Utilisateur</th>
       <th>Nbr Rub  </th>
             
    </tr>   
</thead>
</table>  
     {% endif %} 
</div> 
         {% if  menu|length > 0  %}      
   <div style="padding: 10px 50px 0 10px;position:relative; top:-20px;left:-70px; ">
 
<center ><div style="height:175px;width:750px;border:0px solid #000000;font:20px/17px Georgia, Garamond, Serif;overflow:auto;">
    
<table class="bordered" >
<thead>

    <tr>
       
    </tr>
    
</thead>  
   
    
       {% for menu in menu %}

        <tr>
        <td>{{ menu.id }}</th> 
        <td>{{ menu.title|capitalize }}</td>
        <td>No {{ menu.position }}</td>
        
        <td>{{ menu.utilisateur.nom|capitalize}}</td>
 
{# On vérifie qu'une image est bien associée à l'article #}
{#% if menu.utilisateur.id  is not null %}
 <td>{#{ menu.utilisateur.id}}</td>
{#% endif %#} 
 
        
          {#############}
           {% set counter = 0 %}          
           {% for  rubrique  in  rubrique if rubrique.menu|length > 0  %}
                    {% if menu.id ==rubrique.menu.id  %} {% set counter = counter + 1 %}  {% endif  %}             
           {% endfor %}
            <td><b><h1>{{ counter }}</h1></b></td>
             {#############}   
        
        
        
        
        
        
        
        
        
        
        
        <td><a href="{{ path('my_app_esprit_menu_delete',{'id':menu.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/delete.png') }}" alt="" />  </a></td>
        <td><a href="{{ path('my_app_esprit_menu_edit',{'id':menu.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/update.png') }}" alt="" />  </a></td>

             {% endfor %}
         {% else %}
                <div style="font:38px/15px Georgia, Garamond, Serif;"> 
                    <h2><p> (  rien  &agrave;   afficher )</p></h2> </div>

         {% endif %} 
    </tr>       
    
</table> </div> 
</center>
    </div>
<center><h2><a href="{{ path('my_app_esprit_menu_new') }}" style="text-decoration:none"> 
        <div style="font:38px/15px Georgia, Garamond, Serif;">        
            ajouter menu
        </div></a></h2></center>
</br></br>
<div style="font:38px/15px Georgia, Garamond, Serif;">
 {% for flashMessage in app.session.flashbag.get('message') %}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
{{ flashMessage }}
{% endfor %}
</div>



</body>
</html>