 
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
 <title> Liste Article</title>
 <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/show.css') }}"/> 
</head>

<body>
    
<div style="padding: 120px 50px 0 10px;position:relative; top:-20px;left:-20px; ">    
    {% if article|length >0  %} 
<table class="bordered" >
<thead>

    <tr>
        <th>#</th>        
        <th>Texte</th>
        <th>Nom</th>
        <th>Date</th>
       
         <th>Rubrique associé</th>
         <th>Sous Rubrique associé</th>  
        <th>Role associé</th>
         <th>Image</th>
    </tr>   
</thead>
</table>  
     {% endif %} 
</div> 
    
    
    {% if article|length >0  %}
    <div style="padding: 10px 50px 0 10px;position:relative; top:-20px;left:-180px; ">
 
<center ><div style="height:125px;width:950px;border:0px solid #000000;font:15px/15px Georgia, Garamond, Serif;overflow:auto; ">
    
<table class="bordered" >
<thead>

    <tr>
       
    </tr>
    
</thead>  
        
       {% for article in article %}    
     <tr>
         <th>{{ article.id }}</th> 
         <td>{{ article.texte | truncate(20, true, '...') }}</td>
         <td>{{ article.nom }}</td>
      <!--  <td>article.date</td>  -->
         <td>{{ article.date|date('d/m/Y')}}</td>
         
           {% if article.rubrique|length > 0  %}
           <td><p>{{article.rubrique.title|capitalize}}</p></td>    
           {% else %}<td><div id="Produit1"> Aucun</div></td>{% endif  %}
           
         
         
         
         
         
           {% if article.sousrubrique|length > 0  %}
           <td><p>{{article.sousrubrique.title|capitalize}}</p></td>    
           {% else %}<td><div id="Produit1"> Aucun</div></td>{% endif  %}
          
             
          
          
          {% if article.role.id == 1 %}
          <td><b>access</b></td>
          {% else %}
          <td><div id="Produit1"> denied</div></td>
            {% endif  %}                 
        
       {% if article.image is  not  null %}
      <td align="center" valign="top"><img src="{{ asset('upload/' ~ article.id ~'/' ~ article.image)}}" alt="" width="100" height="100" class="img-border" /></td>
       {% endif %}
        
        {#si je mets pas d image dans la BD une autre s'affiche #} 
        {% if article.image is   null %}
         <td> <img src="http://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="{{ article.image }}"alt="" width="100" height="100" class="img-border" /></td>
        {% endif %}
               
        <td><a href="{{ path('my_app_esprit_article_delete',{'id':article.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/delete.png') }}" alt="" />  </a></td>
        <td><a href="{{ path('my_app_esprit_article_edit',{'id':article.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/update.png') }}" alt="" />  </a></td>

        {% endfor %}
         {% else %}
              <div style="font:38px/15px Georgia, Garamond, Serif;"> 
                  <h2><p> (  rien   &agrave;   afficher )</p></h2> </div>

         {% endif %} 
                  
    </tr>            

</table>
  </div> 
</center> </div>
    
 <center><h2><a href="{{ path('my_app_esprit_article_new') }}" style="text-decoration:none">
      <div style="font:38px/15px Georgia, Garamond, Serif;">ajouter article</div>
         </a></h2></center>
</br></br>
<div style="font:38px/15px Georgia, Garamond, Serif;">
 {% for flashMessage in app.session.flashbag.get('message') %}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
{{ flashMessage }}
{% endfor %}
</div>



</body>
</html>